
RewriteEngine On

<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !=localhost
RewriteCond %{HTTP_HOST} !=192.168.2.5
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301] 

# Authentication requests
RewriteRule ^(.*)register$ $1/api/index?route=register_user [QSA,DPI]
RewriteRule ^(.*)verify$   $1/api/index?route=register_verify [QSA,DPI]
RewriteRule ^(.*)reset$    $1/api/index?route=reset_password [QSA,DPI]
RewriteRule ^(.*)validate$ $1/api/index?route=reset_validate [QSA,DPI]
RewriteRule ^(.*)update$   $1/api/index?route=reset_update [QSA,DPI]
RewriteRule ^(.*)login$    $1/api/index?route=login_session [QSA,DPI]
RewriteRule ^(.*)session$  $1/api/index?route=login_validate [QSA,DPI]
RewriteRule ^(.*)logout$   $1/api/index?route=login_logout [QSA,DPI]

# Player requests
RewriteRule ^(.*)get_player_info$   $1/api/index?route=player_info [QSA,DPI]
RewriteRule ^(.*)get_player_stats$  $1/api/index?route=player_stats [QSA,DPI]
RewriteRule ^(.*)create_new_player$ $1/api/index?route=player_reset [QSA,DPI]
RewriteRule ^(.*)get_friends$       $1/api/index?route=player_friends [QSA,DPI]
RewriteRule ^(.*)get_bike_rate$     $1/api/index?route=player_chance_bike [QSA,DPI]
RewriteRule ^(.*)get_car_rate$      $1/api/index?route=player_chance_car [QSA,DPI]
RewriteRule ^(.*)get_store_rate$    $1/api/index?route=player_chance_store [QSA,DPI]
RewriteRule ^(.*)get_all_players$   $1/api/index?route=player_all [QSA,DPI]

######################
# All Actions
######################

# Travel request
RewriteRule ^(.*)move_to_location$   $1/api/index?route=travel_player [QSA,DPI]

# Location requests
RewriteRule ^(.*)get_locations$   $1/api/index?route=location_all [QSA,DPI]

# Jail requests
RewriteRule ^(.*)get_inmates$   $1/api/index?route=jail_city [QSA,DPI]
RewriteRule ^(.*)pay_bail$      $1/api/index?route=jail_bail [QSA,DPI]
RewriteRule ^(.*)bust_out$      $1/api/index?route=jail_bust [QSA,DPI]

# Bank requests
RewriteRule ^(.*)deposit_money$  $1/api/index?route=bank_deposit [QSA,DPI]
RewriteRule ^(.*)withdraw_money$ $1/api/index?route=bank_withdraw [QSA,DPI]
RewriteRule ^(.*)send_money$     $1/api/index?route=bank_send [QSA,DPI]

# Shop request
RewriteRule ^(.*)buy_bullets$  $1/api/index?route=shop_offensive [QSA,DPI]
RewriteRule ^(.*)swap_bullets$ $1/api/index?route=shop_defensive [QSA,DPI]

# Garage requests
RewriteRule ^(.*)get_vehicles$  $1/api/index?route=garage_all [QSA,DPI]
RewriteRule ^(.*)sell_vehicles$ $1/api/index?route=garage_sell [QSA,DPI]

# Crime request
RewriteRule ^(.*)steal_bike$ $1/api/index?route=crime_bike [QSA,DPI]
RewriteRule ^(.*)steal_car$  $1/api/index?route=crime_car [QSA,DPI]
RewriteRule ^(.*)rob_store$  $1/api/index?route=crime_store [QSA,DPI]


# Making sure things are redirected to the correct file types
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.htm -f
RewriteRule ^(.*)$ $1.htm