/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28 aug 2026, 19:31:38
    Author     : Zowiezo101
*/

:root {
    /* The color values */
    --bg-color-rgb: 69, 64, 53;
    --bg-color-secondary-rgb: 135, 125, 104;
    --acc-color-rgb: 168, 47, 47;
    --acc-color-secondary-rgb: 125, 51, 51;
    
    /* Color values translated to hex values */
    --bg-color:            rbg(var(--bg-color-rgb));
    --bg-color-secondary:  rbg(var(--bg-color-secondary-rgb));
    --acc-color:           rbg(var(--acc-color-rgb));
    --acc-color-secondary: rbg(var(--acc-color-econdary-rgb));
    
    /* Inserting the color values into bootstrap */
    --bs-body-color:        var(--bs-white);
    --bs-body-bg:           var(--bg-color);
    --bs-body-bg-rgb:       var(--bg-color-rgb);
    --bs-secondary-bg:      var(--bg-color-secondary);
    --bs-secondary-bg-rgb:  var(--bg-color-secondary-rgb);
    --bs-tertiary-bg:       var(--acc-color);
    --bs-tertiary-bg-rgb:   var(--acc-color-rgb);
}

